---
import Icon from "astro-icon";
import freeTime from "../images/free-time.png";
---

<section class="">
  <div class="grid py-16 min-h-[15rem] items-center px-16" style=`background-image: url(${freeTime}); background-size:cover; background-position:65% 0%; background-color: darkgrey; background-blend-mode: multiply;`>
    <div class="">
      <h2 class="text-white text-4xl font-bold md:text-6xl">Admissions Process</h2>
      <p class="text-white max-w-[80ch]">
        We welcome students into a flexible educational environment whenever it suits them best, as admissions are open all year round and the process is focused on finding the best alternative for the teenagers’ future.
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-4 bg-offWhite text-black" id="minimumOffer">
    <div class="px-16 pt-16 pb-8 grid md:px-8 lg:px-16">
      <div class="">
        <h3 class="font-bold text-3xl">Family meeting</h3>
        <p class="">with our admission team to learn more about your story by filling in the form or directly booking a call</p>
      </div>
    </div>
    <div class="px-16 pt-16 pb-8 grid md:px-8 lg:px-16">
      <div class="space-y-4">
        <h3 class="font-bold text-3xl">Academic initial assessments</h3>
        <p class="">that allow us to gain insights into the student’s abilities and knowledge and support their learning path with valuable recommendations:</p>
        <ul class="">
          <li><Icon name="icon-park-outline:dot" class="inline w-6 h-6" />English test</li>
          <li><Icon name="icon-park-outline:dot" class="inline w-6 h-6" />CEM Yellis for ages 14-16</li>
          <li><Icon name="icon-park-outline:dot" class="inline w-6 h-6" />CEM Alis for ages 16-19</li>
        </ul>
      </div>
    </div>
    <div class="px-16 pt-16 pb-8 grid md:px-8 lg:px-16">
      <div class="">
        <h3 class="font-bold text-3xl">Contract and wellbeing survey</h3>
        <p class="">that ensures they will nurture a holistic learning experience based on the P.A.I.R.S. framework (Purpose, Autonomy, Identity, Relationships, Self-re/design)</p>
      </div>
    </div>
    <div class="px-16 pt-16 pb-8 grid md:px-8 lg:px-16">
      <div class="">
        <h3 class="font-bold text-3xl">Start & Induction</h3>
        <p class="">to the hybrid high school that embraces your family’s needs</p>
      </div>
    </div>
  </div>
</section>
