---
import FormField from "./FormField.astro";
---

<section class="">
  <div class="">
    <!--     <div class="grid py-8 items-center px-16 bg-sparkPink text-white">
      <div class="">
        <h2 class="text-4xl font-bold md:text-6xl text-center">Book a call</h2>
      </div>
    </div> -->
    <div class="grid min-h-[75vh] md:min-h-[unset] py-8 px-8 md:py-16 bg-darkGray [&_label]:text-white [&_label]:mb-2 md:place-items-center text-white gap-8 place-items-center">
      <div class="text-center">
        <h3 class="font-bold text-4xl lg:text-6xl">Want to meet us?</h3>
        <p class="lg:max-w-[80ch]">Our Admissions team is only one screen away! We are always happy to speak to families & students interested in Spark. Click the button below to book a call and you’ll hear from us soon with a confirmation!</p>
        <a href="/" class="font-bold hover:bg-sparkGreen transition-colors bg-sparkPink px-8 py-2 md:px-16 md:py-4 md:text-2xl rounded-md block md:w-fit text-center text-white mt-4 md:mx-auto">Book a call</a>
      </div>
    </div>
  </div>
  <!--    -->
</section>
