---
import familyPicture from "../images/father-daughter-studying.png";
---

<section class="">
  <div
    class="grid py-16 min-h-screen md:min-h-[50vh] lg:min-h-[85vh] items-center px-12 md:px-16"
    style=`background-image: url(${familyPicture}); background-size:cover; background-position:55% 65%; background-color: darkgrey; background-blend-mode: multiply;`>
    <div class="">
      <h2 class="text-white text-4xl font-bold md:text-6xl text-center mb-4"><span class="text-sparkPink">Our students matter.</span><br /> Their happiness and their future.</h2>
      <p class="text-white max-w-[80ch] text-center mx-auto">
        Spark gives them control to determine their own learning – they choose the pace, the subjects, and the location, and we choose to create an educational system that can truly help them thrive.
      </p>
      <a href="/" class="font-bold hover:underline bg-sparkPink px-8 py-2 md:px-16 md:py-4 md:text-2xl rounded-md block w-fit mx-auto text-white mt-4">Book a call</a>
    </div>
  </div>
</section>
